*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	font-size: 63%;

}
:root{
	--white-color: #FFF;
	--dark-color: #000;
	--wetasphalt-color: #34495e;
	--dark-green-color: #16a085;
	--light-green-color: #1abc9c;
	--dark-primary-color: #2980b9;
	--light-primary-color: #3498db;
	--amethyst-color: #9b59b6;
	--wistria-color: #8e44ad;
	--carrot-color: #e67e22;
	--pumpkin-color: #d35400;
	--silver-color: #bdc3c7;
	--concreat-color: #95a5a6;
	--midnight-color: #2c3e50;
	--sunflower-color: #f1c40f;
	--orange-color: #f39c12;
	--emrand-color: #2ecc71;
	--tur-color: #1abc9c;
}
a,li,input{
	list-style: none;
	text-decoration: none;
	outline: none;
}